.content__accordion-coin {
  width: 100%;
  background-color: $secondaryColor;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 15px 0;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .content__accordion-coin__info {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 0;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 32px;

        a:first-child {
          text-decoration: underline;
        }

        a:first-child, span:first-child {
          font: $defaultContentFont;
          color: #FFF;
        }

        span:last-child {
          font: $hintFont;
          color: $hint;
        }
      }
    }

    .content__accordion-coin__controller {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #FFF;
      border-radius: 10px;

      img {
        width: 20px;
        transition: transform .3s ease;
      }

      img.opened {
        transform: rotate(180deg);
      }
    }
  }

  .content__accordion-coin__content, .content__accordion-coin__content-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0 0 0;

    .content__accordion-coin__content__wallet-info {
      font: $defaultContentFont;
      color: #FFF;
      margin: 0 0 10px 0;

      &.second {
        margin: 10px 0 10px 0 !important;
      }
    }

    .content__accordion-coin__content__transaction {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      input {
        width: 49%;
      }
    }
  }

  .content__accordion-coin__content-row {
    flex-direction: row;
    justify-content: space-between;

    input {
      width: 32%;
    }
  }
}

.input-with-max {
  width: 49%;
  background-color: #363747;
  border-radius: 10px;
  font: 14px 'Gilroy Medium';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  input {
    width: 100% !important;
    background-color: transparent;
  }

  span {
    padding: 10px 15px;
    cursor: pointer;
  }
}