$primaryColor: #232732;
$secondaryColor: #2D2F3F;
$thirdColor: #e91278;

$dashboardColor: #5e6283;
$vaultsColor: #ff0e81;
$earnColor: #2cbb67;
$zapColor: #ff9600;
$experimentalColor: #774cf9;
$lendingColor: #fc0;
$stakeEthereumColor: #00d3f9;
$keep3rV1JobColor: #007bff;
$statsColor: #00ffae;

$walletConnected: #23d198;
$userWarning: #2cbb67;

$placeholder: #757575;
$inputBackground: #363747;

$hint: #7d7e88;
$hintFont: 12px 'Gilroy Regular';

$defaultContentFont: 14px 'Gilroy Regular';
$defaultContentFontMedium: 14px 'Gilroy Medium';
$defaultContentFontBold: 14px 'Gilroy Bold';

$defaultContentAdaptiveFont: 12px 'Gilroy Regular';
$defaultContentAdaptiveFontMedium: 12px 'Gilroy Medium';
$defaultContentAdaptiveFontBold: 12px 'Gilroy Bold';

$logoFont: 18px 'Gilroy Bold';
$menuFont: 14px 'Gilroy Regular';

$titleMainNavbarFont: 26px 'Gilroy Bold';
$descriptionMainNavbarFont: 16px 'Gilroy Bold';

$inDevelopingFont: 36px 'Gilroy Medium';

$modalWindowWCTitleText: 26px 'Gilroy Bold';
$modalWindowWCTitleAdaptiveText: 20px 'Gilroy Bold';